<%= form_for(@orb_type) do |f| %>
  <% if @orb_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orb_type.errors.count, "error") %> O tipo de corpo celeste não pode ser salvo:</h2>

      <ul>
      <% @orb_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size => "60" %>
  </div>
  <div class="actions">
    <%= f.submit @orb_type.new_record? ? "Criar novo tipo de planeta" : "Atualizar o tipo de planeta" %>
  </div>
<% end %>
