<h1>Listando tipos de corpos celestes</h1>

<table class=table>
  <tr>
    <th>Nome</th>
    <th>Ações</th>
  </tr>

  <% @orb_types.each do |orb_type| %>
    <tr>
      <td><%= orb_type.nome %></td>
      <td><%= link_to 'Show', orb_type %> 
      <%= link_to 'Editar', edit_orb_type_path(orb_type) %> 
      <%= link_to 'Remover', orb_type, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo tipo de corpo celeste', new_orb_type_path %>
