<%= form_for(@name, html: {class: 'form-horizontal'}) do |f| %>
  <% if @name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name.errors.count, "erro") %>:</h2>

      <ul>
      <% @name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :nome, "Nome:" , class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field form-group">
    <%= f.label :sexo, "Sexo:", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :sexo, [["", 1], ["Masculino", 2], ["Feminino", 3]], class: 'form-control' %>
    </div>
  </div>
  
  <div class="field form-group">
    <%= f.label :race_id, "Raça:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
    <%= collection_select(:name, :race_id, Race.order('nome'), :id, :nome, { :prompt => "Selecione uma raça" } ) %>
  </div>
  
  <div class="field form-group">
    <%= f.label :family_id, "Família:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= collection_select(:name, :family_id, Family.order('nome'), :id, :nome, { :include_blank => "Selecione uma família" }) %>
      </div>
  </div>

  <div class="field form-group">
    <%= f.label :descr, "Descrição:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :descr %>
      </div>
  </div>
  
  <div class="field form-group">
    <%= f.label :aparencia, "Aparência:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :aparencia %>
      </div>
  </div>

  <div class="field form-group">
    <%= hidden_field_tag 'name[book_ids][]', '' %>
    <%= f.label :books, "Livros:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <% @book.each do |book| %>
          <%= check_box_tag "name[book_ids][]", book.id, @name.books.include?(book) %> <%= book.nome %>
        <% end %>
      </div>
  </div>

  <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit @name.new_record? ? "Criar novo nome" : "Atualizar nome" %>
      </div>
  </div>
<% end %>
