<%= form_for(@name) do |f| %>
  <% if @name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name.errors.count, "error") %> O nome não pode ser salvo:</h2>

      <ul>
      <% @name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  
  <div class="field">
    <%= f.label :race_id, "Raça" %><br />
    <%= collection_select(:name, :race_id, Race.order('nome'), :id, :nome, { :prompt => "Selecione uma raça" } ) %>
  </div>
  <div class="field">
    <%= f.label :family_id, "Família" %><br />
    <%= collection_select(:name, :family_id, Family.order('nome'), :id, :nome, { :include_blank => "Selecione uma família" }) %>
  </div>
  
  <div class="field">
    <%= f.label :descr, "Descrição" %><br />
    <%= f.text_area :descr %>
  </div>
  
  <div class="field">
    <%= f.label :aparencia %><br />
    <%= f.text_area :aparencia %>
  </div>
  
  <%= hidden_field_tag 'name[book_ids][]', '' %>
  <%= f.label :books, "Livros" %><br />
  <% @book.each do |book| %>
    <div>
      <%= check_box_tag "name[book_ids][]", book.id, @name.books.include?(book) %>
      <%= book.nome %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
