<h1>Listando Nomes</h1>
<fieldset>
  <legend>Buscar por nomes:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
	  <%= f.label :nome, "Nome: " %><br />
	  <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
    <div class="field">
      <%= f.label :family_id, "Família:" %><br />
      <%= f.select :family_id_eq, options_from_collection_for_select(Family.all,"id","nome",@search.family_id_eq), 
          {:include_blank => "Todos"}, {:class => "search-field"} %>
    </div>
    <div class="field">
      <%= f.label :race_id, "Raça:" %><br />
      <%= f.select :race_id_eq, options_from_collection_for_select(Race.all,"id","nome",@search.race_id_eq), 
          {:include_blank => "Todos"}, {:class => "search-field"} %>
    </div>
	<div class="actions">
	  <%= f.submit "Buscar" %>
	</div>
  <% end %>
</fieldset>

<table>
  <tr>
    <th><%= sort_link(@search, :nome, "Nome") %></th>
    <th><%= sort_link(@search, :family_id, "Familia") %></th>
    <th><%= sort_link(@search, :race_id, "Raça") %></th>
    <th>Descrição</th>
    <th>Livros</th>
    <th>Ações</th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= name.nome %></td>    
    <td><%= name.family.try(:nome) %></td>
    <td><%= name.race.nome %></td>
    <td><%= h(name.descr).gsub(/\n/, '<br/>').html_safe %></td>
    <td>
      <ul>
        <% name.books.each do |book| %>
          <li> <%= book.nome %> </li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Detalhes', name %><br/>
    <%= link_to 'Editar', edit_name_path(name) %><br/>
    <%= link_to 'Remover', name, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo nome', new_name_path %>
