<h1>Listing names</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Raça</th>
    <th>Livro</th>
    <th>Família</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= name.id %></td>
    <td><%= name.nome %></td>
    <td><%= name.descr %></td>
    <td><%= name.race_id %></td>
    <td><%= name.book_id %></td>
    <td><%= name.family_id %></td>
    <td><%= link_to 'Detalhes', name %></td>
    <td><%= link_to 'Editar', edit_name_path(name) %></td>
    <td><%= link_to 'Remover', name, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo nome', new_name_path %>
