<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @name.nome %>
</p>

<p>
  <b>Familia:</b>
  <%= @name.family.try(:nome) %>
</p>

<p>
  <b>Descrição: <br/></b>
  <%= h(@name.descr).gsub(/\n/, '<br/>').html_safe %>
</p>

<p>
  <b>Raça:</b>
  <%= @name.race.try(:nome) %>
</p>

<p>
  <b>Livros:</b>
  <ul>
    <% @name.books.each do |book| %>
    <li> <%= book.nome %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_name_path(@name) %> |
<%= link_to 'Voltar', names_path %> |
<%= link_to 'Novo nome', new_name_path %>
