<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @name.nome %>
</p>

<p>
  <b>Descr:</b>
  <%= @name.descr %>
</p>

<p>
  <b>Race:</b>
  <%= @name.race.nome %>
</p>

<p>
  <b>Family:</b>
  <%= @name.family.nome %>
</p>


<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
