<h1>Listando Raças</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.id %></td>
    <td><%= race.nome %></td>
    <td><%= race.descr %></td>
    <td><%= link_to 'Detalhes', race %></td>
    <td><%= link_to 'Editar', edit_race_path(race) %></td>
    <td><%= link_to 'Remover', race, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova raça', new_race_path %>
