<h1>Listando raças</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.nome %></td>
    <td><%= h(race.descr).gsub(/\n/, '<br/>').html_safe %></td>
    <td><%= link_to 'Detalhes', race %> 
    <%= link_to 'Editar', edit_race_path(race) %> 
    <%= link_to 'Remover', race, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova raça', new_race_path %>
