<h1>Detalhes da raça</h1>

<p>
  <b>Nome:</b>
  <%= @race.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= h(@race.descr).gsub(/\n/, '<br/>').html_safe %>
</p>


<%= link_to 'Editar', edit_race_path(@race) %> |
<%= link_to 'Voltar', races_path %> |
<%= link_to 'Nova raça', new_race_path %>
