<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @race.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= @race.descr %>
</p>


<%= link_to 'Editar', edit_race_path(@race) %> |
<%= link_to 'Voltar', races_path %> |
<%= link_to 'Nova raça', new_race_path %>
