<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> A família não pode ser salva:</h2></h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size => "60"  %>
  </div>

  <div style="width: 600px;">
    <div style="float: left; width: 300px;">
      <%= hidden_field_tag 'family[race_ids][]', '' %>
      <%= f.label :races, "Raças" %><br />
      <% @race.each do |race| %>
        <div>
          <%= check_box_tag "family[race_ids][]", race.id, @family.races.include?(race) %>
          <%= race.nome %>
        </div>
      <% end %>  
    </div>
    <div style="float: left; width: 300px;">
      <%= hidden_field_tag 'family[book_ids][]', '' %>
      <%= f.label :books, "Livros" %><br />
      <% @book.each do |book| %>
        <div>
          <%= check_box_tag "family[book_ids][]", book.id, @family.books.include?(book) %>
          <%= book.nome %>
        </div>
      <% end %>

    </div>
    <br style="clear: left;" />
  </div>
  
  <div class="field">
    <%= f.label :descr, "Descrição" %><br />
    <%= f.text_area :descr, :size => "68x10"  %>
  </div>
  
  <div class="actions">
    <%= f.submit @family.new_record? ? "Criar nova familia" : "Atualizar familia" %>
  </div>
<% end %>
