<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "erro") %>: </h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, "Nome:"%>
    <%= f.text_field :nome, :size => "60" %>
  </div>
  <br>
  <div class="twocolunm">
    <div id="left">
      <%= hidden_field_tag 'family[race_ids][]', '' %>
      <%= f.label :races, "Raças:" %>
      <% @race.each do |race| %>
        <div>
          <%= check_box_tag "family[race_ids][]", race.id, @family.races.include?(race) %>
          <%= race.nome %>
        </div>
      <% end %>  
    </div>
    <div id="right">
      <%= hidden_field_tag 'family[book_ids][]', '' %>
      <%= f.label :books, "Livros:" %>
      <% @book.each do |book| %>
        <div>
          <%= check_box_tag "family[book_ids][]", book.id, @family.books.include?(book) %>
          <%= book.nome %>
        </div>
      <% end %>
    </div>
    <br style="clear: left;" />
  </div>
  
  <br>
  <div class="field">
    <%= f.label :descr, "Descrição:" %><br />
    <%= f.text_area :descr, :size => "68x10"  %>
  </div>
  
  <div class="actions">
    <%= f.submit @family.new_record? ? "Criar nova familia" : "Atualizar familia" %>
  </div>
<% end %>
