<h1>Listing families</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Raça</th>
    <th>Livro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.id %></td>
    <td><%= family.nome %></td>
    <td><%= family.descr %></td>
    <td><%= family.race_id %></td>
    <td><%= family.book_id %></td>
    <td><%= link_to 'Detalhes', family %></td>
    <td><%= link_to 'Editar', edit_family_path(family) %></td>
    <td><%= link_to 'Remover', family, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova família', new_family_path %>
