<h1>Lista das famílias</h1>

<div id="flip"> <h5>Buscar por famílias: </h5>
<div id="panel">
  <div id="search-form", :class="form-inline"> <fieldset>
    <%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
      <%= f.label :nome, "Nome: " %>
      <%= f.text_field :nome_cont, :class => "input-medium search-field" %>

      <%= f.label :races_id_eq, "Raça:" %>
      <%= f.collection_select :races_id_eq, Race.order(:nome), :id, :nome, {:include_blank => "Todos"}, :class => "input-medium search-field" %>

      <%= f.label :books_id_eq, "Livro:" %>
      <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome, {:include_blank => "Todos"}, :class => "input-medium search-field" %>

    <div class="actions">
      <%= f.submit "Buscar", class: 'btn btn-default' %>
      <%= f.submit "Limpar campos", :id => "reset_btn", class: 'btn btn-default' %>
    </div>
    <% end %>
  </fieldset> </div>
</div> </div>

<%= page_entries_info @families %>
<table class="table table-striped">
  <tr>
    <th><%= sort_link(@search, :nome, "Nome") %></th>
    <th>Integrantes</th>
    <th>Raça</th>
    <th>Livros</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>

  <% @families.each do |family| %>
    <tr>
      <td><%= family %></td>
      <td>
        <ol type="disc">
          <% family.names.each do |name| %>
            <li> <%= name %> </li>
          <% end %>
        </ol>
      </td>
      <td>
        <ul>
          <% family.races.each do |race| %>
            <li> <%= race %> </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ol type="disc">
          <% family.books.each do |book| %>
            <li> <%= book %> </li>
          <% end %>
        </ol>
      </td>
      <td><%= h(family.descr).gsub(/\n/, '<br/>').html_safe %></td>
      <td><%= link_to 'Detalhes', family %><br/>
      <%= link_to 'Editar', edit_family_path(family) %><br/>
      <%= link_to 'Remover', family, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @families %>

<br />

<%= link_to 'Nova familia', new_family_path, class: 'btn btn-success' %>
