<h1>Listing families</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descr</th>
    <th>Race</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.id %></td>
    <td><%= family.nome %></td>
    <td><%= family.descr %></td>
    <td><%= family.race_id %></td>
    <td><%= family.book_id %></td>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
    <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Family', new_family_path %>
