<h1>Lista das famílias</h1>

<div id="search-form"> <fieldset>
  <legend>Buscar por famílias:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
    <%= f.label :nome, "Nome: " %><br />
    <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
  <div class="field">
    <%= f.label :races_id_eq, "Raça:" %><br />
    <%= f.collection_select :races_id_eq, Race.order(:nome), :id, :nome, :include_blank => "Todos" %> 
  </div>
  <div class="field">
    <%= f.label :books_id_eq, "Livro:" %><br />
    <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome, :include_blank => "Todos" %> 
  </div>
  <div class="actions">
    <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos", :id => "reset_btn" %>
  </div>
  <% end %>
</fieldset> </div>

<table>
  <tr>
    <th><%= sort_link(@search, :nome, "Nome") %></th>
    <th>Integrantes</th>
    <th>Raça</th>
    <th>Livros</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.nome %></td>
    <td>
      <ol type="disc">
        <% family.names.each do |name| %>
          <li> <%= name.nome %> </li>
        <% end %>
      </ol>
    </td>
    <td>
      <ul>
        <% family.races.each do |race| %>
          <li> <%= race.nome %> </li>
        <% end %>
      </ul>
    </td>
    <td>
      <ol type="disc">
        <% family.books.each do |book| %>
          <li> <%= book.nome %> </li>
        <% end %>
      </ol>
    </td>
    <td><%= h(family.descr).gsub(/\n/, '<br/>').html_safe %></td>
    <td><%= link_to 'Detalhes', family %><br/>
    <%= link_to 'Editar', edit_family_path(family) %><br/>
    <%= link_to 'Remover', family, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova familia', new_family_path %>
