<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @family.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @family.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= @family.descr %>
</p>

<p>
  <b>Raça:</b>
  <%= @family.race_id %>
</p>

<p>
  <b>Livro:</b>
  <%= @family.book_id %>
</p>


<%= link_to 'Editar', edit_family_path(@family) %> |
<%= link_to 'Voltar', families_path %>
