<h1>Listando Corpos celestes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Tipo do corpo celeste</th>
    <th>Livros</th>
    <th>Ações</th>
  </tr>


<% @orbs.each do |orb| %>
  <tr>
    <td><%= orb.nome %></td>
    <td>
      <%= h(orb.descr).gsub(/\n/, '<br/>').html_safe %>
    </td>
    <td><%= orb.orb_type.nome %></td>
    <td>
      <ul>
        <% orb.books.each do |book| %>
          <li> <%= book.nome %> </li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Detalhes', orb %> <br>
    <%= link_to 'Editar', edit_orb_path(orb) %> <br>
    <%= link_to 'Remover', orb, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo corpo celeste', new_orb_path %>
