<h1>Listando corpos celestes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Orbita</th>
    <th>Descrição</th>
    <th>Tipo de corpo celeste</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orbs.each do |orb| %>
  <tr>
    <td><%= orb.id %></td>
    <td><%= orb.nome %></td>
    <td><%= orb.orbt %></td>
    <td><%= orb.descr %></td>
    <td><%= orb.orb_type.nome %></td>
    <td><%= link_to 'Detalhes', orb %></td>
    <td><%= link_to 'Editar', edit_orb_path(orb) %></td>
    <td><%= link_to 'Remover', orb, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo corpo celeste', new_orb_path %>
