<h1>Detalhes do corpo celeste</h1>
<p>
  <b>Nome:</b>
  <%= @orb %>
</p>

<p>
  <b>Tipo do corpo celeste:</b>
  <%= @orb.orb_type %>
</p>

<p>
  <b>Orbita:</b>
  <%= @orb.orbit %>
</p>

<p>
  <b>Descrição: <br/></b>
  <%= h(@orb.descr).gsub(/\n/, '<br/>').html_safe %>
</p>

<p>
  <b>Orbitado por:</b>
  <ul>
    <% @orb.orbters.each do |orbter| %>
    <li> <%= orbter %> </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Livros:</b>
  <ul>
    <% @orb.books.each do |book| %>
    <li> <%= book %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_orb_path(@orb) %> |
<%= link_to 'Voltar', orbs_path %> |
<%= link_to 'Novo corpo celeste', new_orb_path %>
