<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @orb.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @orb.nome %>
</p>

<p>
  <b>Orbita:</b>
  <%= @orb.orbt %>
</p>

<p>
  <b>Descrição:</b>
  <%= @orb.descr %>
</p>

<p>
  <b>Tipo do corpo celeste:</b>
  <%= @orb.orb_type.nome %>
</p>


<%= link_to 'Editar', edit_orb_path(@orb) %> |
<%= link_to 'Voltar', orbs_path %>
