<h1>Listando tamanhos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizes.each do |size| %>
  <tr>
    <td><%= size.id %></td>
    <td><%= size.nome %></td>
    <td><%= link_to 'Detalhes', size %></td>
    <td><%= link_to 'Editar', edit_size_path(size) %></td>
    <td><%= link_to 'Remover', size, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo tamanho', new_size_path %>
