<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @book.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= @book.descr %>
</p>

<p>
  <b>Data do inicio:</b>
  <%= @book.datai %>
</p>

<p>
  <b>Data da conclusão:</b>
  <%= @book.dataf %>
</p>

<p>
  <b>Races:</b>
  <ul>
    <% @book.races.each do |race| %>
    <li> <%= race.nome %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %> |
<%= link_to 'Novo livro', new_book_path %>
