<h1>Detalhes do <%= singular_table_name %></h1>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<%%= link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Voltar', <%= index_helper %>_path %> |
<%%= link_to 'Novo <%= human_name %>', new_<%= singular_table_name %>_path %>
