<h1>Listando naves</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Livro</th>
    <th>Tipo básico</th>
    <th>Tamanho</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ships.each do |ship| %>
  <tr>
    <td><%= ship.id %></td>
    <td><%= ship.nome %></td>
    <td><%= ship.descr %></td>
    <td><%= ship.book_id %></td>
    <td><%= ship.base_id %></td>
    <td><%= ship.size_id %></td>
    <td><%= link_to 'Detalhes', ship %></td>
    <td><%= link_to 'Editar', edit_ship_path(ship) %></td>
    <td><%= link_to 'Remover', ship, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova nave', new_ship_path %>
