<h1>Listing ships</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descr</th>
    <th>Base type</th>
    <th>Ship size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ships.each do |ship| %>
  <tr>
    <td><%= ship.nome %></td>
    <td><%= ship.descr %></td>
    <td><%= ship.base_type.nome %></td>
    <td><%= ship.ship_size.nome %></td>
    <td><%= link_to 'Show', ship %></td>
    <td><%= link_to 'Edit', edit_ship_path(ship) %></td>
    <td><%= link_to 'Destroy', ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ship', new_ship_path %>
