<h1>Listando naves</h1>


<div id="search-form"> <fieldset>
  <legend>Buscar por naves:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
    <%= f.label :nome, "Nome: " %><br />
    <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
    <div class="field">
      <%= f.label :base_type_id, "Tipo base:" %><br />
      <%= f.select :base_type_id_eq, options_from_collection_for_select(BaseType.all,"id","nome",@search.base_type_id_eq), 
          {:include_blank => "Todos"}, {:class => "search-field"} %>
    </div>
    <div class="field">
      <%= f.label :ship_size_id, "Tamanho da nave:" %><br />
      <%= f.select :ship_size_id_eq, options_from_collection_for_select(ShipSize.all,"id","nome",@search.ship_size_id_eq), 
          {:include_blank => "Todos"}, {:class => "search-field"} %>
    </div>
    <div class="field">
      <%= f.label :books_id_eq, "Livro:" %><br />
      <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome,
          {:include_blank => "Todos"}, {:class => "search-field"} %>
    </div>
  <div class="actions">
    <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos", :id => "reset_btn" %>
  </div>
  <% end %>
</fieldset> </div>

<%= page_entries_info @ships %>
<table class=table>
  <tr>
    <th><%= sort_link(@search, :nome, "Nome") %></th>
    <th>Descrição</th>
    <th>Livros</th>
    <th><%= sort_link(@search, :base_type_id, "Tipo Base") %></th>
    <th><%= sort_link(@search, :ship_size_id, "Classe da nave") %></th>
    <th>Ações</th>
  </tr>

  <% @ships.each do |ship| %>
    <tr>
      <td><%= ship.nome %></td>
      <td><%= h(ship.descr).gsub(/\n/, '<br/>').html_safe %></td>
      <td>
        <ul>
          <% ship.books.each do |book| %>
            <li> <%= book.nome %> </li>
          <% end %>
        </ul>
      </td>
      <td><%= ship.base_type.nome %></td>
      <td><%= ship.ship_size.nome %></td>
      <td><%= link_to 'Detalhes', ship %><br/>
      <%= link_to 'Editar', edit_ship_path(ship) %><br/>
      <%= link_to 'Remover', ship, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @ships %>
<br />

<%= link_to 'Nova nave', new_ship_path %>
