<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @ship.nome %>
</p>

<p>
  <b>Descr:</b>
  <%= @ship.descr %>
</p>

<p>
  <b>Base type:</b>
  <%= @ship.base_type.nome %>
</p>

<p>
  <b>Ship size:</b>
  <%= @ship.ship_size.nome %>
</p>


<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
