<%= form_for(@ship_size) do |f| %>
  <% if @ship_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship_size.errors.count, "error") %> O tamanho de nave não pode ser salvo:</h2>

      <ul>
      <% @ship_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size => "60" %>
  </div>
  <div class="actions">
    <%= f.submit @ship_size.new_record? ? "Criar novo tamanho de nave" : "Atualizar tamanho de nave" %>
  </div>
<% end %>
