<%= form_for(@base_type) do |f| %>
  <% if @base_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_type.errors.count, "error") %> O tipo base não pode ser salvo:</h2>

      <ul>
      <% @base_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit @base_type.new_record? ? "Criar novo tipo base" : "Atualizar tipo base" %>
  </div>
<% end %>
