<h1>Listando tipos base</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Ações</th>
  </tr>

<% @base_types.each do |base_type| %>
  <tr>
    <td><%= base_type.nome %></td><br/>
    <td><%= link_to 'Detalhes', base_type %> 
    <%= link_to 'Editar', edit_base_type_path(base_type) %>
    <%= link_to 'Remover', base_type, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo tipo base', new_base_type_path %>
