<h1>Lista dos tipos básicos de naves</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @base_types.each do |base_type| %>
  <tr>
    <td><%= base_type.id %></td>
    <td><%= base_type.nome %></td>
    <td><%= link_to 'Detalhes', base_type %></td>
    <td><%= link_to 'Editar', edit_base_type_path(base_type) %></td>
    <td><%= link_to 'Remover', base_type, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Base type', new_base_type_path %>
