<li> <%= link_to 'Home', root_path %> </li>
<li> <%= link_to 'Nomes', names_path %> </li>
<li> <%= link_to 'Familias', families_path %> </li>
<li> <%= link_to 'Naves', ships_path %> </li>
<li> <%= link_to 'Corpos Celestes', orbs_path %> </li>
<li> ---------------- </li>
<li> <%= link_to 'Raças', races_path %> </li>
<li> <%= link_to 'Livros', books_path %> </li>
<li> <%= link_to 'Tamanhos de naves', ship_sizes_path %> </li>
<li> <%= link_to 'Tipos de naves', base_types_path %> </li>
<li> <%= link_to 'Tipos de planetas', orb_types_path %> </li>
